
.canvas {
    scale: 12 !important;
    image-rendering: pixelated;
}
@media (max-width: 1250px) {
    .canvas {
    scale: 8 !important;
    }
}
@media (max-width: 1000px) {
    .canvas {
    /* margin-top: 4em; */
    scale: 6 !important;
    }
}

.draggable {
    width: auto;
    display: inline-block;
}

#sketch-picker {
    background-color: #322828;
    color: black;

}

.draft-images-container {
    max-height: 500px;
    overflow-y: auto;
}

.img-hover-effect {
    transition: all 0.3s ease;
    border: 1px solid purple;
}

.img-hover-effect:hover {
    cursor: pointer; /* Changes cursor to indicate clickability */
    opacity: 0.8; /* Slightly fades the image to indicate hover */
    box-shadow: 0 0 8px #000; /* Adds shadow for depth */
}