
.canvas {
    scale: 12;
    image-rendering: pixelated;
}
@media (max-width: 1024px) {
    .canvas {
    scale: 8;
    }
}
@media (max-width: 768px) {
    .canvas {
    scale: 5;
    }
}

.draggable {
    width: auto;
    display: inline-block;
}

#sketch-picker {
    background-color: #322828;
    color: black;

}

#color-picker {
    
}

.draft-images-container {
    max-height: 500px;
    overflow-y: auto;
}

.img-hover-effect {
    transition: all 0.3s ease;
    border: 1px solid purple;
}

.img-hover-effect:hover {
    cursor: pointer; /* Changes cursor to indicate clickability */
    opacity: 0.8; /* Slightly fades the image to indicate hover */
    box-shadow: 0 0 8px #000; /* Adds shadow for depth */
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

canvas {
    flex: 2;
}