html, body {
    height: 100%;
}

.parent {
    touch-action: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    height: 100%;
    background: rgb(52, 52, 94);
}
.topbar {
    background: rgb(21, 21, 32);
    min-height: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.topbar button:hover{
    color: cornflowerblue;
}

.content {
    user-select: none;
    
    display: inline-flex;
    padding-top: 120px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.canvas {
    cursor: crosshair;
    user-select: none;
    touch-action: none;
    background: white;
    margin-top: 20%;
    margin-left: 100px;

    scale: 12;
    image-rendering: pixelated;
    border: solid 1px darkgray;
    border-radius: 1px;
}
@media (orientation:portrait) {
    .canvas {
    left: unset;
    scale: 5;
    }
}


/*.color-palette {
    margin-top: 200px;
    }*/

.palette {
    margin-top: 250px;
    display: inline-block;
    width: fit-content;
}

.sketch-picker {
    margin-top: 0px;
    display: inline-block;
    width: fit-content;
}

.palette-button {
    color: rgb(41, 14, 42);
    border: 1px solid black;
    background-color: gray;
    height: 50px;
    width: 220px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

button:hover {
    background-color: rgb(146, 146, 146);
    color: #af02f4;
    border-color: #af02f4;
}

.draggable {
    width: auto;
    display: inline-block;
}